#bird1, #bird2 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

body {
    text-align: center;
    font-family: "Trebuchet MS";
    background-color: #E4F316;
     background: -webkit-linear-gradient( #00FF0D,#3E4BFA );
     background-repeat: no-repeat;
     background-size:cover;
}

h1 {
        color: #F32756; 
} 

p {
    color: #F31616;
    font-size: 150%
}
html, body { 
    min-height: 100%;
}

#fblogo {
    width: 50px;
    height: 50px;
}

#bird3 {
    width:500px;
    height:500px;
    position: fixed;
    top:200px;
    left:100px;
}