/*#saveDrawing {*/
/*    border-radius: 12px 0 12px 0;*/
/*    background: #f5f5f5;*/
/*    border: none;*/
/*    color: #555;*/
/*    font: bold 12px Verdana;*/
/*    padding: 6px 0 6px 0;*/
/*    box-shadow: 1px 1px 3px #999;*/
/*}*/

#saveDrawing {
	width:85px;
	height:85px;
	background:#fafafa;
	box-shadow:2px 2px 8px #aaa;
	font:bold 13px Arial;
	border-radius:50%;
	color:#555;
}


/*#clearDrawing {*/
/*    border-radius: 12px 0 12px 0;*/
/*    background: #f5f5f5;*/
/*    border: none;*/
/*    color: #555;*/
/*    font: bold 12px Verdana;*/
/*    padding: 6px 0 6px 0;*/
/*    box-shadow: 1px 1px 3px #999;*/
/*}*/

/*#clearDrawing {*/
/*    border-radius: 12px 0 12px 0;*/
/*    background: #f5f5f5;*/
/*    border: none;*/
/*    color: #555;*/
/*    font: bold 12px Verdana;*/
/*    padding: 6px 0 6px 0;*/
/*    border: 1px solid #ccc;*/
/*}*/

#clearDrawing {
    padding: 6px 0 6px 0;
    font: Bold 13px Arial;
    background: #d34836;
    color: #fff;
    width: 90px;
    border-radius: 2px;
    border: none;
}